<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coaching App</title>
    <script defer th:src="@{/js/indexDom.js}"></script>
    <script defer th:src="@{/js/programService.js}"></script>
    <script defer th:src="@{/js/classes.js}"></script>
    <script defer th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
  <h1>Coach App</h1>
  <div id="programs-container">
      <ul id="programs-list">

      </ul>
  </div>
  <a href="http://localhost:8080/create">
    <button>Create New Program</button>
  </a>
</body>
</html>