<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program</title>
    <script defer th:src="@{/js/programDom.js}"></script>
    <script defer th:src="@{/js/programService.js}"></script>
    <script defer th:src="@{/js/classes.js}"></script>
    <script defer th:src="@{/js/program.js}"></script>
</head>
<body>
<input type="text" id="program-name" placeholder="program" autocomplete="off">
<input type="date" id="program-start-date">
<input type="date" id="program-end-date">
<div id="full-program">
    <div id="days-list"></div>
    <button id="navigate-day-back" disabled><</button>
    <button id="navigate-day-forward" disabled>></button>
    <button id="add-day-btn">Add Day</button>
</div>
<table id="day-exercise">

</table>

<div>
    <input type="text" id="exercise-name" placeholder="exercise" autocomplete="off">
    <input type="number" id="weight" placeholder="weight">
    <input type="number" id="sets" placeholder="sets">
    <input type="number" id="reps" placeholder="reps">
    <textarea id="notes" rows="4" cols="30" placeholder="notes"></textarea>
    <button id="add-exercise">+</button>
</div>

<button id="submit">Submit</button>
<a id="download-btn" hidden>Save</a>
</body>
</html>